.cpanel {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.cpanel-item {
    flex-grow: 1;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.cpanel-item.active {
    background-color: #ddd;
}

.cpcontent {
    display: none;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.cpcontent.active {
    display: block;
}
/* 轮播图 */
.lbtbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    display: flex;
}

/* 设置图片的默认样式 */
.lbtimg {
    display: flex;
    align-items: flex-end;
    font-size: 0px;
    height: 300px;
    width: 10%;
    /* margin: ; */
    border-radius: 20rem;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: width 0.5s ease, border-radius 0.5s ease, font-size 0.5s ease;
    /* 添加过渡效果 */
}

/* 设置鼠标悬停时的动画效果 */
.lbtimg:nth-child(1) {
    animation: swiper 30s infinite;
}

.lbtimg:nth-child(2) {
    animation: swiper 30s 6s infinite;
}

.lbtimg:nth-child(3) {
    animation: swiper 30s 12s infinite;
}

.lbtimg:nth-child(4) {
    animation: swiper 30s 18s infinite;
}

.lbtimg:nth-child(5) {
    animation: swiper 30s 24s infinite;
}

@keyframes swiper {
    0% {
        width: 10%;
        border-radius: 20rem;
        font-size: 0px;
    }

    1% {
        width: 50%;
        border-radius: 3.6rem;
        font-size: 20px;
    }

    20% {
        width: 50%;
        border-radius: 3.6rem;
        font-size: 20px;
    }

    21% {
        width: 10%;
        border-radius: 20rem;
        font-size: 0px;
    }

    100% {
        width: 10%;
        border-radius: 20rem;
        font-size: 0px;
    }
}

.lbtimg div{
    width: 100%;
    bottom: 0px;
    text-align: center;
    border-radius: 3.6rem;
    font-family: 'comic-sans', sans-serif;
    color: white;
    backdrop-filter: blur(20px) brightness(50%);
    -webkit-backdrop-filter: blur(20px) brightness(50%);
}

/* 轮播图END */

.placeholder {
    padding-bottom: calc(89/64 * 100%);
    /* 高度为宽度的1.68倍 */
}

.image-container {
    background-size: cover;
}

.video-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-detail {
    height: 300px;
}

.video-detail-imgbox {
    height: 300px;
    border-radius: 10px;
}

.video-detail-font {
    font-family: 'comic-sans', sans-serif;
    color: white;
    backdrop-filter: blur(20px) brightness(50%);
    -webkit-backdrop-filter: blur(20px) brightness(50%);
    border-radius: 10px;
    /* text-shadow: 2px 2px 0px gray, -2px -2px 0px gray, 2px -2px 0px gray, -2px 2px 0px gray; */
}

.video-detail-font h3 {
    font-weight: 100;
    font-style: italic;
    /* 设置斜体 */
    font-weight: bold;
    /* 设置加粗 */
}

.video-play {
    display: flex;
    justify-content: center;
}

.video-play-box {
    width: 1024px;
    height: 576px;
}

.video-play-info {
    width: 1024px;
}

.ysz {
    font-family: 'comic-sans', sans-serif;
    font-weight: 900;
}

.mzbtn {
    position: relative;
}

.mzbtn svg {
    position: absolute;
    bottom: 0;
    right: 0;
}

body {
    min-height: 100vh;
}

.lazy-bg {
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.lazy-bg.loaded {
    opacity: 1;
}

.calendar {
    color: black;
}

